# EditorConfig helps maintain consistent coding styles across different editors and IDEs
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100

[*.md]
max_line_length = 80
trim_trailing_whitespace = false

[*.{ts,tsx,js,jsx}]
indent_size = 2
quote_type = single

[*.{json,yml,yaml}]
indent_size = 2

[*.cs]
indent_size = 4
end_of_line = crlf

[*.csproj]
indent_size = 2

[*.{cmd,bat,ps1}]
end_of_line = crlf

[Makefile]
indent_style = tab

[*.{diff,patch}]
trim_trailing_whitespace = false